# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
data[data.sex=='Female'].age.mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
len(data[data['native-country']=='Germany'])*100/len(data)

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
groups = data.groupby('salary')
above = groups.get_group('>50K')
below = groups.get_group('<=50K')
print("Age mean of those who earn more than 50K: {} and age standard deviation: {}".format(above.age.mean(), above.age.std()))
print("Age mean of those who earn less than 50K: {} and age standard deviation: {}".format(below.age.mean(), below.age.std()))

Age mean of those who earn more than 50K: 44.24984058155847 and age standard deviation: 10.51902771985177
Age mean of those who earn less than 50K: 36.78373786407767 and age standard deviation: 14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
above.education.unique() # It is not true, as there are people who have lower education but still present here

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
grp_by_race_n_age = data.groupby(['race', 'sex'])
for name, group in grp_by_race_n_age:
    print('\n\n' + str(name))
    print(group.age.describe())

print("\n\n" + "Maximum age of men of Amer-Indian-Eskimo race:")
print(grp_by_race_n_age.get_group(('Amer-Indian-Eskimo', 'Male')).age.max())

('Amer-Indian-Eskimo', 'Female')
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64


('Amer-Indian-Eskimo', 'Male')
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64


('Asian-Pac-Islander', 'Female')
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64


('Asian-Pac-Islander', 'Male')
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64


('Black', 'Female')
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64


('Black', 'Male')
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64


('Other', 'Female')
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64


('Other', 'Male')
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64


('White', 'Female')
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64


('White', 'Male')
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64


Maximum age of men of Amer-Indian-Eskimo race:
82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [15]:
print('Total >50K:')
print(len(data[( (data.sex == 'Male') & (data.salary == '>50K') )]))
print('Married >50K:')
print(data[((data.sex == 'Male') & (data['marital-status'].str.contains('^Married')))].salary.value_counts()[1])
# there are more married men with >50K salary than single ones with such salary

Total >50K:
6662
Married >50K:
5965

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [18]:
print('Maximum number of hours per week:')
max_hours = data['hours-per-week'].value_counts().sort_index().index[-1]
print(max_hours)

print("Number of people who work that much: ")
work_much = len(data[data['hours-per-week'] == max_hours])
print(work_much)

print("Percentage of those earn a lot who work this much: ")
earn_lot = data[data.salary == '>50K']
print(len(earn_lot[earn_lot['hours-per-week'] == max_hours])*100/work_much)

Maximum number of hours per week:
99
Number of people who work that much:
85
Percentage of those earn a lot who work this much:
29.41176470588235

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [11]:
grpby_salary_n_country = data.groupby(['salary', 'native-country'])
for name, group in grpby_salary_n_country:
    print(name)
    print(group['hours-per-week'].mean())
    print('\n\n')

('<=50K', '?')
40.16475972540046



('<=50K', 'Cambodia')
41.416666666666664



('<=50K', 'Canada')
37.91463414634146



('<=50K', 'China')
37.38181818181818



('<=50K', 'Columbia')
38.68421052631579



('<=50K', 'Cuba')
37.98571428571429



('<=50K', 'Dominican-Republic')
42.338235294117645



('<=50K', 'Ecuador')
38.041666666666664



('<=50K', 'El-Salvador')
36.03092783505155



('<=50K', 'England')
40.483333333333334



('<=50K', 'France')
41.05882352941177



('<=50K', 'Germany')
39.13978494623656



('<=50K', 'Greece')
41.80952380952381



('<=50K', 'Guatemala')
39.36065573770492



('<=50K', 'Haiti')
36.325



('<=50K', 'Holand-Netherlands')
40.0



('<=50K', 'Honduras')
34.333333333333336



('<=50K', 'Hong')
39.142857142857146



('<=50K', 'Hungary')
31.3



('<=50K', 'India')
38.233333333333334



('<=50K', 'Iran')
41.44



('<=50K', 'Ireland')
40.94736842105263



('<=50K', 'Italy')
39.625



('<=50K', 'Jamaica')
38.23943661971831



('<=50K', 'Japan')
41.0



('<=50K', 'Laos')
40.375



('<=50K', 'Mexico')
40.00327868852459



('<=50K', 'Nicaragua')
36.09375



('<=50K', 'Outlying-US(Guam-USVI-etc)')
41.857142857142854



('<=50K', 'Peru')
35.06896551724138



('<=50K', 'Philippines')
38.065693430656935



('<=50K', 'Poland')
38.166666666666664



('<=50K', 'Portugal')
41.93939393939394



('<=50K', 'Puerto-Rico')
38.470588235294116



('<=50K', 'Scotland')
39.44444444444444



('<=50K', 'South')
40.15625



('<=50K', 'Taiwan')
33.774193548387096



('<=50K', 'Thailand')
42.86666666666667



('<=50K', 'Trinadad&Tobago')
37.05882352941177



('<=50K', 'United-States')
38.79912723305605



('<=50K', 'Vietnam')
37.193548387096776



('<=50K', 'Yugoslavia')
41.6



('>50K', '?')
45.54794520547945



('>50K', 'Cambodia')
40.0



('>50K', 'Canada')
45.64102564102564



('>50K', 'China')
38.9



('>50K', 'Columbia')
50.0



('>50K', 'Cuba')
42.44



('>50K', 'Dominican-Republic')
47.0



('>50K', 'Ecuador')
48.75



('>50K', 'El-Salvador')
45.0



('>50K', 'England')
44.53333333333333



('>50K', 'France')
50.75



('>50K', 'Germany')
44.97727272727273



('>50K', 'Greece')
50.625



('>50K', 'Guatemala')
36.666666666666664



('>50K', 'Haiti')
42.75



('>50K', 'Honduras')
60.0



('>50K', 'Hong')
45.0



('>50K', 'Hungary')
50.0



('>50K', 'India')
46.475



('>50K', 'Iran')
47.5



('>50K', 'Ireland')
48.0



('>50K', 'Italy')
45.4



('>50K', 'Jamaica')
41.1



('>50K', 'Japan')
47.958333333333336



('>50K', 'Laos')
40.0



('>50K', 'Mexico')
46.57575757575758



('>50K', 'Nicaragua')
37.5



('>50K', 'Peru')
40.0



('>50K', 'Philippines')
43.032786885245905



('>50K', 'Poland')
39.0



('>50K', 'Portugal')
41.5



('>50K', 'Puerto-Rico')
39.416666666666664



('>50K', 'Scotland')
46.666666666666664



('>50K', 'South')
51.4375



('>50K', 'Taiwan')
46.8



('>50K', 'Thailand')
58.333333333333336



('>50K', 'Trinadad&Tobago')
40.0



('>50K', 'United-States')
45.50536884674383



('>50K', 'Vietnam')
39.2



('>50K', 'Yugoslavia')
49.5